<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_Productpageshipping>
            <version>1.0.0</version>
        </Mozg_Productpageshipping>
    </modules>
    <global>
        <models>
            <mozg_productpageshipping>
                <class>Mozg_Productpageshipping_Model</class>
            </mozg_productpageshipping>
        </models>
        <helpers>
            <mozg_productpageshipping>
                <class>Mozg_Productpageshipping_Helper</class>
            </mozg_productpageshipping>
        </helpers>
        <blocks>
            <mozg_productpageshipping>
                <class>Mozg_Productpageshipping_Block</class>
            </mozg_productpageshipping>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Productpageshipping after="Mage_Adminhtml">Mozg_Productpageshipping_Adminhtml</Mozg_Productpageshipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Productpageshipping>
                    <files>
                        <default>Mozg_Productpageshipping.csv</default>
                    </files>
                </Mozg_Productpageshipping>
            </modules>
        </translate>
        <events>
        </events>
        <layout>
            <updates>
                <mozg_productpageshipping>
                    <file>mozg_productpageshipping.xml</file>
                </mozg_productpageshipping>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mozg_productpageshipping>
                    <file>mozg_productpageshipping.xml</file>
                </mozg_productpageshipping>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <mozg_productpageshipping_html_before>
                        <class>mozg_productpageshipping/observer_abstractHtml</class>
                        <method>BeforeRenderHtml</method>
                    </mozg_productpageshipping_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <mozg_productpageshipping_html_after>
                        <class>mozg_productpageshipping/observer_abstractHtml</class>
                        <method>AfterRenderHtml</method>
                    </mozg_productpageshipping_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <routers>
            <mozg_productpageshipping>
                <use>standard</use>
                <args>
                    <module>Mozg_Productpageshipping</module>
                    <frontName>mozg_productpageshipping</frontName>
                </args>
            </mozg_productpageshipping>
        </routers>
        <translate>
            <modules>
                <Mozg_Productpageshipping>
                    <files>
                        <default>Mozg_Productpageshipping.csv</default>
                    </files>
                </Mozg_Productpageshipping>
            </modules>
        </translate>
    </frontend>
    <default>
        <mozg_general>
            <mozg_product_page_shipping>
                <active>0</active>
                <debug>0</debug>
                <block_name>product.info.extrahint</block_name>
                <use_country>1</use_country>
                <use_region>1</use_region>
                <use_city>1</use_city>
                <use_postcode>1</use_postcode>
                <validate_mask_zipcode>1</validate_mask_zipcode>
            </mozg_product_page_shipping>
        </mozg_general>
    </default>
</config>